@import "tailwindcss";

:root {
  --background: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-satoshi: var(--font-satoshi), sans-serif;
  --text-md: 1.125rem;
  --color-primary: #003631;
  --color-primary-50: #d1fffb;
  --color-primary-200: #47ffee;
  --color-grey-200: #ededed;
  --color-grey-400: #d7d7d7;
  --color-grey-700: #717171;
  --color-grey-950: #181818;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  [id] {
    scroll-margin-top: 5rem;
  }
}
